<ion-view>
    <ion-nav-title>
        About Us
    </ion-nav-title>  
  <ion-content>
    <div class="list list-inset">
          
            <a class="item item-icon-right" href="#/app/about">
              <i class="icon ion-ios-arrow-forward calm"></i>
              Our Headquarters              
            </a>
        
            <a class="item item-icon-right" href="#" onclick="
                window.open('http://www.dclm.org/about/our-ministry/', '_system', 'location=yes'); return false;">
              <i class="icon ion-ios-arrow-forward calm"></i>
              The Ministry              
            </a>
        
            <a class="item item-icon-right" href="#" onclick="
                window.open('http://www.dclm.org/about/bible-school/', '_system', 'location=yes'); return false;">
              <i class="icon ion-ios-arrow-forward calm"></i>
              Bible School             
            </a>
        
            <a class="item item-icon-right" href="#" onclick="
                window.open('http://www.dclm.org/about/what-we-believe/', '_system', 'location=yes'); return false;">
              <i class="icon ion-ios-arrow-forward calm"></i>
              What we believe             
            </a>
        
            <a class="item item-icon-right" href="#" onclick="
                window.open('http://www.dclm.org/about/official-web-sites/', '_system', 'location=yes'); return false;">
              <i class="icon ion-ios-arrow-forward calm"></i>
              Our Official Websites           
            </a>
        
            <a class="item item-icon-right" href="#" onclick="
                window.open('http://www.dclm.org/about/our-ministries/', '_system', 'location=yes'); return false;">
              <i class="icon ion-ios-arrow-forward calm"></i>
              Our Ministries           
            </a>
        
        
            <a class="item item-icon-right" href="#" onclick="
                window.open('http://www.dclm.org/about/pastor-w-f-kumuyi/', '_system', 'location=yes'); return false;">
              <i class="icon ion-ios-arrow-forward calm"></i>              
              Pastor W.F. Kumuyi              
            </a>

            <a class="item item-icon-right" href="#" onclick="
                window.open('http://www.dclm.org/about/dlcc-conference-center/', '_system', 'location=yes'); return false;">
              <i class="icon ion-ios-arrow-forward calm"></i>              
              Deeper Life Conference Center(DLCC)      
            </a>            
        </div>            
  </ion-content>
</ion-view>
