<ion-view  view-title="Home" class="home">    
  <ion-content>    
    <div class="row responsive-sm row-one">
        <div class="col">
            <a class="item " href="#/app/devotionals">                            
                <div class="list card">
                    <div class="item item-body">                  
                      <i class="ion-ios-bookmarks calm"></i>                       
                      <p>
                        Daily Devotional
                      </p>                  
                    </div>
                </div>
            </a>
        </div>    
                               
        <div class="col">
            <a class="item " href="#/app/sermons">                            
            <div class="list card">
                <div class="item item-body">                  
                    <i class="ion-social-youtube calm"></i>                       
                    <p>
                     Sermons
                    </p>                  
                </div>
            </div>
            </a>    
        </div>
        
        <div class="col">            
            <a class="item" href="#" onclick="
                window.open('http://webcast.dclm.org/', '_system', 'location=yes'); return false;">        
            <div class="list card">
                <div class="item item-body">                  
                  <i class="ion-videocamera calm"></i>                       
                  <p>
                    Live Stream
                  </p>                  
                </div>
            </div>
            </a>    
        </div>        
    </div>            
    
    
    <div class="row responsive-sm row-two">
        <div class="col">
            <a class="item " href="#/app/locations">                            
                <div class="list card">
                    <div class="item item-body">                  
                      <i class="ion-location calm"></i>                       
                      <p>
                        Find the nearest location
                      </p>                  
                    </div>
                </div>
            </a>
        </div>    
                               
        <div class="col">
            <a class="item" href="#" ng-click="sharetestimony()">                            
            <div class="list card">
                <div class="item item-body">  
                  <i class="ion-speakerphone calm"></i> 
                  <p>
                    Share a Testimony
                  </p>                  
                </div>
            </div>
            </a>    
        </div>
        
        <div class="col">
            <a class="item " href="" ng-click="sendprequest()">                            
            <div class="list card">
                <div class="item item-body">                  
                   <i class="ion-ios-email calm"></i> 
                  <p>
                    Submit a prayer request
                  </p>                  
                </div>
            </div>
            </a>    
        </div>        
    </div>    
  </ion-content>
</ion-view>
